// Main
$bg: #0F0F0F;
$bg-skills: #F5F5F5;

// Text
$txt-color: #ffffff;
$txt-color-dark: #1B1B1B;
$txt-heading: 'Raleway', sans-serif;
$txt-content: 'Source Sans Pro', sans-serif;
$txt-regular: 400;
$txt-semi: 600;
$txt-bold: 800;

// Colors
$primary-color: #F94545;

// Media
// Base conçu sur 320px (5/SE)
$s-width: 320px;

// iPhone SE 2nd
$m-width: 375px;

// iPhone 12/13 Pro Max
$l-width: 428px;

// Phone Landscape
$xl-width: 640px;

// iPad Mini
$mtab-width: 768px;

// iPad Pro 12.9
$tab-width: 1024px;

// Laptop MDI
$mdi-width: 1280px;

// MBP / Laptop HDI
$hdi-width: 1440px;